<div class="col-md-12 main">
    <div class="col-sm-2">
        First name
    </div>
    <div class="col-sm-10">
        {{address.firstName}}
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-2">
        Last name
    </div>
    <div class="col-sm-10">
        {{address.lastName}}
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-2">
        Email address
    </div>
    <div class="col-sm-10">
        {{address.email}}
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-2">
        Phone number
    </div>
    <div class="col-sm-10">
        {{address.phoneNumber}}
    </div>
    <div class="clearfix"></div>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>