<div class="col-md-12 main">

    <div class="col-sm-2">First name</div>
    <div class="col-sm-10">{{contact.firstName}}</div>

    <div class="col-sm-2">Last name</div>
    <div class="col-sm-10">{{contact.lastName}}</div>

    <div class="col-sm-2">Email address</div>
    <div class="col-sm-10">{{contact.email}}</div>

    <div class="col-sm-2">Phone number</div>
    <div class="col-sm-10">{{contact.phoneNumber}}</div>

    <div class="separator" />

    <div class="col-sm-12">
	    <button class="btn btn-primary" ng-click="edit()">Edit</button>
	    <button class="btn btn-primary" ng-click="cancel()">Back to list</button>
	</div>
</div>